# /etc/systemd/system/gunicorn-superlists-staging.service
[Unit]
Description=Gunicorn server for superlists-staging

[Service]
# 一些变量可以设置为和环境变量相关联更好
Restart=on-failure
User=USER
WorkingDirectory=/home/USER/site/superlists
EnvironmentFile=/home/USER/site/superlists/.env

ExecStart=VIRTUALENVPATH/bin/gunicorn \
    --bind unix:/tmp/superlists-staging.socket \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target
