# /etc/systemd/system/gunicorn-superlists-staging.service
[Unit]
Description=Gunicorn server for superlists-staging

[Service]
# 一些变量可以设置为和环境变量相关联更好
Restart=on-failure
User=atlednolispe
WorkingDirectory=/home/atlednolispe/Github/tdd/superlists
# EnvironmentFile=/home/atlednolispe/Github/tdd/superlists/.env

ExecStart=/home/atlednolispe/.local/share/virtualenvs/tdd-GWb1K6UV/bin/gunicorn \
    --bind unix:/tmp/superlists-staging.socket \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target
